# Notebook to add co-ordinates for 1999 Polling Places

The AEC started putting co-ordinates on polling place files from 2007.

The code below matches to 2007 polling places, where the name of the venue is the same.

While not perfect, this should result the vast majority of the time in a co-ordinate closely representing the location of the polling location in 1999

### Libraries

In [42]:
import pandas as pd
import numpy as np
from IPython.display import display, HTML
import json
import googlemaps

### Helper functions

In [2]:
def left_of_bracket(s):
    if '(' in s:
        needle = s.find('(')
        r = s[:needle-1].strip()
        return r
    else:
        return s
    
def state_abbreviation(state):
    spaces = state.count(' ')
    
    if spaces == 2:
        bits = state.split(' ')
        r=''
        for b in bits:
            r = r + b[:1].upper() # for each word in state grab first letter
        return r
    elif 'Australia' in state:
        r = state[:1].upper() + 'A'
        return r
    elif state == 'Queensland':
        return 'QLD'
    elif state == 'Northern Territory':
        return 'NT'
    else:
        r = state[:3].upper()
        return r

# i keep forgetting the syntax for this so writing a wrapper
def dedup_df(df, keys, keep = False):
    
    # for a data frame, drop anything thats a duplicate
    # if you change keep to first, it'll keep the first row rather than none
    df_dedup = df.drop_duplicates(keys, keep)
    return df_dedup

### Import polling places

`import_polling_places(filepath)`
* Takes a path to a polling place file
* Returns a tidy data frame
    * Renames some columns
    * Dedups on `['state','polling_place']`

In [3]:
def import_polling_places(filepath):
    
    # read csv
    df_pp = pd.read_csv(
        filepath
    )
    
    # pick the columns I want to keep
    cols = [
        'State',
        'PollingPlaceNm',
        'PremisesNm',
        'PremisesAddress1',
        'PremisesAddress2',
        'PremisesAddress3',
        'PremisesSuburb',
        'PremisesStateAb',
        'PremisesPostCode',
        'Latitude',
        'Longitude'
    ]
    
    # filter for those
    df_pp = df_pp[cols]

    # create a polling place column missing the bracket
    lambda_polling_places = lambda x: left_of_bracket(x)
    df_pp['polling_place'] = df_pp['PollingPlaceNm'].apply(lambda_polling_places)

    # rename columns to make joining easier
    df_pp['premises'] = df_pp['PremisesNm']
    df_pp['postcode'] = df_pp['PremisesPostCode']

    # replace in the col headers list where I've modified/added the column
    cols = [c.replace('PollingPlaceNm', 'polling_place') for c in cols]
    cols = [c.replace('PremisesNm', 'premises') for c in cols]
    cols = [c.replace('PremisesPostCode', 'postcode') for c in cols]
    
    # reorder df
    df_pp = df_pp[cols]

    # dedup
    df_pp = df_pp.drop_duplicates()

    # make all headers lower case
    df_pp.columns = [x.lower() for x in df_pp.columns]
    
    return df_pp

In [4]:
filepath = 'federal_election_polling_places/pp_2007_election.csv'
test = import_polling_places(filepath)
display('Rows: ' + str(len(test.index)))

'Rows: 7861'

### Import 1999 polling places

In [5]:
def import_1999_pp(filepath):

    df_pp_1999 = pd.read_csv(
        filepath
    )

    # add blank columns for match types and lat/lng
    df_pp_1999['match_source'] = np.nan
    df_pp_1999['match_type'] = np.nan
    df_pp_1999['latitude'] = np.nan
    df_pp_1999['longitude'] = np.nan

    # tell it to index on state and polling place
    df_pp_1999 = df_pp_1999.set_index(['state','polling_place'])
    
    return df_pp_1999

In [6]:
filepath = '1999_referenda_output/polling_places.csv'
df_pp_1999 = import_1999_pp(filepath)
display(df_pp_1999.head(3))

                                        premises                    address  \
state polling_place
ACT   Bonython           Bonython Primary School                 Hurtle Ave
      Calwell                Calwell High School                 Casey Cres
      Canberra Hospital    The Canberra Hospital  Blding 2 Level 3 Yamba Dr

                           suburb  postcode wheelchair_access  match_source  \
state polling_place
ACT   Bonython           BONYTHON    2905.0                 F           NaN
      Calwell             CALWELL    2905.0                 F           NaN
      Canberra Hospital    GARRAN    2605.0                 F           NaN

                         match_type  latitude  longitude
state polling_place
ACT   Bonython                  NaN       NaN        NaN
      Calwell                   NaN       NaN        NaN
      Canberra Hospital         NaN       NaN        NaN

# Matches

#### Pandas setting I need for below to behave
pandas generates warnings for working with a data frame that's a copy of another
it thinks I might think I'm changing df_pp_1999 when im working with df_pp_1999_working
i'm turning this warning off because i'm doing this on purpose, so I can keep df_pp_1999 as a 'yet to be matched' file, and update it with each subsequent working file

In [7]:
pd.set_option('chained_assignment',None)

### Functions

#### `match_polling_places(df_pp_1999, df_pp, settings)`
* For the 1999 data frame, and a given other polling place data frame, and a set of settings, run a merge, and return the rows that matched based on the join you specified
<br />
E.g:
```
match_polling_places(
    df_pp_1999,
    df_pp,
    dict(
        keys = ['state','premises','postcode'],
        match_source = '2007 Polling Places',
        match_type = 'Match 01 - state, premises, postcode'   
    )
)
```
* runs a join on state, premises, and postcode between df1 and df2
* keeps a defined set of columns from df1
* adds the columns match_source and match_type, and sets their value
* replaces the latitude and longitude columns of df1 with those from df2
* returns this data frame, deleting all rows that didn't match from df1

In [8]:
def match_polling_places(df1, df2, settings):
    
    # split up our meta field
    keys = settings['keys']
    match_source = settings['match_source']
    match_type = settings['match_type']

    # filter for those columns
 
    df_working = df1.reset_index()[[
        'state',
        'polling_place',
        'premises',
        'address',
        'suburb',
        'postcode',
        'wheelchair_access'
    ]]

    # the keys I want to keep from the second df in the join are the group_by keys, and also lat/lng
    cols_df2 = keys + ['latitude','longitude']
    
    # add cols for match type
    df_working['match_source'] = match_source
    df_working['match_type'] = match_type
    
    # run the join
    df_working = pd.merge(
        df_working,
        df2[cols_df2],
        on=keys,
        how='left'
    )
    
    # delete those which we didn't match
    df_working = df_working[~df_working['latitude'].isnull()]
    
    # dedup on the keys we matched on
    df_working = dedup_df(df_working, keys)
    
    return df_working

In [9]:
# test match_polling_places
filepath = '1999_referenda_output/polling_places.csv'
df1 = import_1999_pp(filepath)

filepath2 = 'federal_election_polling_places/pp_2007_election.csv'
df2 = import_polling_places(filepath2)

test = match_polling_places(
  df1,
  df2,
  dict(
      keys = ['state','premises','postcode'],
      match_source = '2007 Polling Places',
      match_type = 'Match 01 - state, premises, postcode'   
  )
)

display(test.head(3))

,state,polling_place,premises,address,suburb,postcode,wheelchair_access,match_source,match_type,latitude,longitude
0,ACT,Bonython,Bonython Primary School,Hurtle Ave,BONYTHON,2905.0,F,2007 Polling Places,"Match 01 - state, premises, postcode",-35.4318,149.083
1,ACT,Calwell,Calwell High School,Casey Cres,CALWELL,2905.0,F,2007 Polling Places,"Match 01 - state, premises, postcode",-35.4406,149.116
2,ACT,Canberra Hospital,The Canberra Hospital,Blding 2 Level 3 Yamba Dr,GARRAN,2605.0,F,2007 Polling Places,"Match 01 - state, premises, postcode",-35.3453,149.100

#### `match_unmatched_polling_places(df1, settings)`
* This is a wrapper function for `match_polling_places`
* It will only pass data that is NOT yet matched in df1 to the match function, so that we keep track of at what point in our order we matched the data frame (rather than overriding each time it matches)
* This will matter as we do less high quality matches at the bottom of the pile

In [10]:
def match_unmatched_polling_places(df1, settings):
    
    # get polling place file from settings
    filepath = settings['pp_filepath']    
    df2 = import_polling_places(filepath)

    # work out which rows we haven't yet matched
    df1_unmatched = df1[df1.match_source.isnull()]
    
    # run match for those
    df1_matches = match_polling_places(df1_unmatched, df2, settings)
    
    # dedup this file for combinations of state/polling_place (my unique key)
    keys = ['state','polling_place']
    df1_matches = dedup_df(df1_matches, keys)
    
    # check that worked by making it a key now
    df1_matches = df1_matches.set_index(keys)
    
    # update with matches
    df1.update(df1_matches)
    
    # return
    return df1

#### `match_status(df1)`
* a function to tell me for a given data frame what the match status is

In [11]:
def match_status(df1):
    
    # how many Nans are in match_type?
    not_matched = len(df1[df1['match_type'].isnull()].index)
    
    # make a df for none
    none = pd.DataFrame(dict(
                match_type = 'Not yet matched',
                count = not_matched
    ), index=[0])
    
    if not_matched == len(df1.index): # if all values are not-matched
        return none
    else:
        df = pd.DataFrame(
            df1.groupby('match_type')['match_type'].count().reset_index(name='count')
        )
        
        # add the non-matched row
        df = df.append(none)

        return df

### Match attempts

#### Match 1 - 2007 on premises name, state, and postcode
* Other than schools that have moved, these places should be the same
* And for schools that have moved, the postcode test should ensure it's not too far

In [12]:
# first match attempt - set up file
filepath = '1999_referenda_output/polling_places.csv'
df_pp_1999 = import_1999_pp(filepath)

# double check none are somehow magically matched yet
print('before')
display(match_status(df_pp_1999))

# configure match settings
settings = dict(
    pp_filepath = 'federal_election_polling_places/pp_2007_election.csv',
    keys = ['state','premises','postcode'],
    match_source = '2007 Polling Places',
    match_type = 'Match 01 - state, premises, postcode'
)

# run match
df_pp_1999 = match_unmatched_polling_places(df_pp_1999, settings)

print('after')
display(match_status(df_pp_1999))

before

   count       match_type
0   7044  Not yet matched

after

   count                            match_type
0   4883  Match 01 - state, premises, postcode
0   2161                       Not yet matched

#### Match 2 through 4 - 2010 through 2016 on premises name, state, and postcode
* Other than schools that have moved, these places should be the same
    * And for schools that have moved, the postcode test should ensure it's not too far

In [13]:
## 2
print('before 2')
display(match_status(df_pp_1999))

# configure match settings
settings = dict(
    pp_filepath = 'federal_election_polling_places/pp_2010_election.csv',
    keys = ['state','premises','postcode'],
    match_source = '2010 Polling Places',
    match_type = 'Match 02 - state, premises, postcode'
)

# run match
df_pp_1999 = match_unmatched_polling_places(df_pp_1999, settings)

print('after')
display(match_status(df_pp_1999))

## 3
print('before 3')
display(match_status(df_pp_1999))

# configure match settings
settings = dict(
    pp_filepath = 'federal_election_polling_places/pp_2013_election.csv',
    keys = ['state','premises','postcode'],
    match_source = '2013 Polling Places',
    match_type = 'Match 03 - state, premises, postcode'
)

# run match
df_pp_1999 = match_unmatched_polling_places(df_pp_1999, settings)

print('after')
display(match_status(df_pp_1999))

## 4
print('before 4')
display(match_status(df_pp_1999))

# configure match settings
settings = dict(
    pp_filepath = 'federal_election_polling_places/pp_2016_election.csv',
    keys = ['state','premises','postcode'],
    match_source = '2016 Polling Places',
    match_type = 'Match 04 - state, premises, postcode'
)

# run match
df_pp_1999 = match_unmatched_polling_places(df_pp_1999, settings)

print('after')
display(match_status(df_pp_1999))

before 2

   count                            match_type
0   4883  Match 01 - state, premises, postcode
0   2161                       Not yet matched

after

   count                            match_type
0   4883  Match 01 - state, premises, postcode
1    107  Match 02 - state, premises, postcode
0   2054                       Not yet matched

before 3

   count                            match_type
0   4883  Match 01 - state, premises, postcode
1    107  Match 02 - state, premises, postcode
0   2054                       Not yet matched

after

   count                            match_type
0   4883  Match 01 - state, premises, postcode
1    107  Match 02 - state, premises, postcode
2     46  Match 03 - state, premises, postcode
0   2008                       Not yet matched

before 4

   count                            match_type
0   4883  Match 01 - state, premises, postcode
1    107  Match 02 - state, premises, postcode
2     46  Match 03 - state, premises, postcode
0   2008                       Not yet matched

after

   count                            match_type
0   4883  Match 01 - state, premises, postcode
1    107  Match 02 - state, premises, postcode
2     46  Match 03 - state, premises, postcode
3     27  Match 04 - state, premises, postcode
0   1981                       Not yet matched

#### Match 5 - 2007 polling places on polling place name, state, and postcode
* This will match to a polling place name, in a different location, as long as it is in the same suburb

* for the purposes of this analysis, this should be good enough

In [14]:
print('before 5')
display(match_status(df_pp_1999))

# configure match settings
settings = dict(
    pp_filepath = 'federal_election_polling_places/pp_2007_election.csv',
    keys = ['state','polling_place','postcode'],
    match_source = '2007 Polling Places',
    match_type = 'Match 05 - state, polling_place, postcode'
)

# run match
df_pp_1999 = match_unmatched_polling_places(df_pp_1999, settings)

print('after')
display(match_status(df_pp_1999))

before 5

   count                            match_type
0   4883  Match 01 - state, premises, postcode
1    107  Match 02 - state, premises, postcode
2     46  Match 03 - state, premises, postcode
3     27  Match 04 - state, premises, postcode
0   1981                       Not yet matched

after

   count                                 match_type
0   4883       Match 01 - state, premises, postcode
1    107       Match 02 - state, premises, postcode
2     46       Match 03 - state, premises, postcode
3     27       Match 04 - state, premises, postcode
4   1548  Match 05 - state, polling_place, postcode
0    433                            Not yet matched

#### Match 6-8 - 2010-2016 polling places on polling place name, state, and postcode

In [15]:
print('before 6')
display(match_status(df_pp_1999))

# configure match settings
settings = dict(
    pp_filepath = 'federal_election_polling_places/pp_2010_election.csv',
    keys = ['state','polling_place','postcode'],
    match_source = '2010 Polling Places',
    match_type = 'Match 06 - state, polling_place, postcode'
)

# run match
df_pp_1999 = match_unmatched_polling_places(df_pp_1999, settings)

print('after')
display(match_status(df_pp_1999))

## 7
print('before 7')
display(match_status(df_pp_1999))

# configure match settings
settings = dict(
    pp_filepath = 'federal_election_polling_places/pp_2013_election.csv',
    keys = ['state','polling_place','postcode'],
    match_source = '2013 Polling Places',
    match_type = 'Match 07 - state, polling_place, postcode'
)

# run match
df_pp_1999 = match_unmatched_polling_places(df_pp_1999, settings)

print('after')
display(match_status(df_pp_1999))

## 8
print('before 8')
display(match_status(df_pp_1999))

# configure match settings
settings = dict(
    pp_filepath = 'federal_election_polling_places/pp_2016_election.csv',
    keys = ['state','polling_place','postcode'],
    match_source = '2016 Polling Places',
    match_type = 'Match 08 - state, polling_place, postcode'
)

# run match
df_pp_1999 = match_unmatched_polling_places(df_pp_1999, settings)

print('after')
display(match_status(df_pp_1999))

before 6

   count                                 match_type
0   4883       Match 01 - state, premises, postcode
1    107       Match 02 - state, premises, postcode
2     46       Match 03 - state, premises, postcode
3     27       Match 04 - state, premises, postcode
4   1548  Match 05 - state, polling_place, postcode
0    433                            Not yet matched

after

   count                                 match_type
0   4883       Match 01 - state, premises, postcode
1    107       Match 02 - state, premises, postcode
2     46       Match 03 - state, premises, postcode
3     27       Match 04 - state, premises, postcode
4   1548  Match 05 - state, polling_place, postcode
5     10  Match 06 - state, polling_place, postcode
0    423                            Not yet matched

before 7

   count                                 match_type
0   4883       Match 01 - state, premises, postcode
1    107       Match 02 - state, premises, postcode
2     46       Match 03 - state, premises, postcode
3     27       Match 04 - state, premises, postcode
4   1548  Match 05 - state, polling_place, postcode
5     10  Match 06 - state, polling_place, postcode
0    423                            Not yet matched

after

   count                                 match_type
0   4883       Match 01 - state, premises, postcode
1    107       Match 02 - state, premises, postcode
2     46       Match 03 - state, premises, postcode
3     27       Match 04 - state, premises, postcode
4   1548  Match 05 - state, polling_place, postcode
5     10  Match 06 - state, polling_place, postcode
6      2  Match 07 - state, polling_place, postcode
0    421                            Not yet matched

before 8

   count                                 match_type
0   4883       Match 01 - state, premises, postcode
1    107       Match 02 - state, premises, postcode
2     46       Match 03 - state, premises, postcode
3     27       Match 04 - state, premises, postcode
4   1548  Match 05 - state, polling_place, postcode
5     10  Match 06 - state, polling_place, postcode
6      2  Match 07 - state, polling_place, postcode
0    421                            Not yet matched

after

   count                                 match_type
0   4883       Match 01 - state, premises, postcode
1    107       Match 02 - state, premises, postcode
2     46       Match 03 - state, premises, postcode
3     27       Match 04 - state, premises, postcode
4   1548  Match 05 - state, polling_place, postcode
5     10  Match 06 - state, polling_place, postcode
6      2  Match 07 - state, polling_place, postcode
7      4  Match 08 - state, polling_place, postcode
0    417                            Not yet matched

### Set the rest to the centroid of their suburb
* Again, this isn't perfect, but should do for the purposes of a map

In [16]:
filepath = 'from_abs/ssc_2016_aust_centroid.csv'

subtown_centroids = results = pd.read_csv(
    filepath
)

# create a column for abbreviated states
lambda_states = lambda x: state_abbreviation(x)
subtown_centroids['state'] = subtown_centroids['STE_NAME16'].apply(lambda_states)

# strip the brackets out of suburb names, and make all caps, to match the 1999 file
lambda_suburbs = lambda x: left_of_bracket(x).upper()
subtown_centroids['suburb'] = subtown_centroids['SSC_NAME16'].apply(lambda_suburbs)

display(subtown_centroids.head(5))

,longitude,latitude,SSC_CODE16,SSC_NAME16,STE_CODE16,STE_NAME16,AREASQKM16,xcoord,ycoord,state,suburb
0,149.802885,-32.879097,10001,Aarons Pass,1,New South Wales,82.7639,149.80289,-32.87910,NSW,AARONS PASS
1,150.861203,-33.870091,10002,Abbotsbury,1,New South Wales,4.9788,150.86120,-33.87009,NSW,ABBOTSBURY
2,151.129240,-33.850609,10003,Abbotsford (NSW),1,New South Wales,1.0180,151.12924,-33.85061,NSW,ABBOTSFORD
3,149.556431,-33.389973,10004,Abercrombie,1,New South Wales,2.9775,149.55643,-33.38997,NSW,ABERCROMBIE
4,149.347666,-33.910344,10005,Abercrombie River,1,New South Wales,127.1701,149.34767,-33.91034,NSW,ABERCROMBIE RIVER

In [18]:
print('before suburbs')
display(match_status(df_pp_1999))

# configure match settings
settings = dict(
    pp_filepath = 'from_abs/ssc_2016_aust_centroid.csv',
    keys = ['state','suburb'],
    match_source = 'ABS Suburb Centroids',
    match_type = 'Match 09 - suburb centroid'
)

## this next bit is in our wrapper function for every other set

# get matches
df1_matches = match_polling_places(
    df_pp_1999[df_pp_1999.match_source.isnull()], # only run on empty rows
    subtown_centroids,
    settings
)

# dedup this file for combinations of state/polling_place (my unique key)
keys = ['state','polling_place']
# df1_matches = dedup_df(df1_matches, keys)

# check that worked by making it a key now
df1_matches = df1_matches.set_index(keys)

# update with matches
df_pp_1999.update(df1_matches)

print('after')
display(match_status(df_pp_1999))

before suburbs

   count                                 match_type
0   4883       Match 01 - state, premises, postcode
1    107       Match 02 - state, premises, postcode
2     46       Match 03 - state, premises, postcode
3     27       Match 04 - state, premises, postcode
4   1548  Match 05 - state, polling_place, postcode
5     10  Match 06 - state, polling_place, postcode
6      2  Match 07 - state, polling_place, postcode
7      4  Match 08 - state, polling_place, postcode
0    417                            Not yet matched

after

   count                                 match_type
0   4883       Match 01 - state, premises, postcode
1    107       Match 02 - state, premises, postcode
2     46       Match 03 - state, premises, postcode
3     27       Match 04 - state, premises, postcode
4   1548  Match 05 - state, polling_place, postcode
5     10  Match 06 - state, polling_place, postcode
6      2  Match 07 - state, polling_place, postcode
7      4  Match 08 - state, polling_place, postcode
8    331                 Match 09 - suburb centroid
0     86                            Not yet matched

### We have 86 left

There are two reasons for this:
* The suburb doesn't exist anymore, or isn't recognised as such by the ABS
* There is more than one unmatched address in the suburb, so our de-duping code is preventing matching (E.g, Wangaratta in Vic)

I probably need to write code to geocode these :(

In [19]:
df_pp_1999[df_pp_1999.match_source.isnull()]

                                                                     premises  \
state polling_place
NSW   Carlton North                                    Senior Citizens Centre
      Moorefield                                 Moorefield Girls High School
      St George Hospital         St George Hospital, Coffee Shop (Ward Block)
      Jenolan Caves                                       Jenolan Caves House
      Wallsend Hospital          Elsie Grahame Centre, Wallsend Health Campus
      Whitegates                                    Silveridge Community Hall
      Yarras                                             Yarras Public School
      Thredbo                                        Thredbo Community Centre
      Morven                                         Morven Post Office Store
      Summer Hill North                                       Grosvenor House
      Allandale Hospital                         Allandale Aged Care Facility
      Cessnock Hospital                           Community Health Group Room
      Singleton Military Camp                                            Hall
      Burwood North                               St Andrew's Anglican Church
      Homebush South                                      St Patricks College
      Strathfield City                             Strathfield Uniting Church
      Port Macquarie Civic                        Port Macquarie Civic Centre
      Port Macquarie Hospital                    Port Macquarie Base Hospital
      Hilltop                                        Hilltop Community Centre
      Collaroy Plateau                        Collaroy Plateau Primary School
      RSL Retirement Village              The Theatre, RSL Retirement Village
      RAAF Richmond                            ALF Corporal Promotions Centre
      Medowie                                           Medowie Public School
      Wirreanda Medowie                               Wirreanda Public School
      Kemblawarra                                   Kemblawarra Public School
      West Dapto                              West Dapto Neighbourhood Centre
NT    Bakewell                                        Bakewell Primary School
QLD   Rockhampton                             Rockhampton College Of T.A.F.E.
      Planlands                                Asian & Pacific Studies Centre
      Coolum                                         Coolum State High School
...                                                                       ...
TAS   Blythe Heads                                   Blythe Heads Public Hall
VIC   Ballarat City                                         St Cuthberts Hall
      Thornbury Central                                      Minajalka Centre
      Thornbury West                              Croxton Uniting Church Hall
      Maidstone                                        Catholic Parish Centre
      Maidstone East                            Maribyrnong Secondary College
      Moorabbin                                           Moorabbin Town Hall
      Moorabbin West                                         Berendale School
      Burwood                                              Burwood Pre School
      Wangaratta                           Wangaratta TAFE Amenities Building
      Wangaratta Hospital                                 Wangaratta Hospital
      Botany Park                             Botany Park - Pre-School Centre
      Bowerbird                                        Bowerbird - Pre-school
      Mordialloc                     Mordialloc - Mordialloc Life Saving Club
      Woodlands                               Woodlands - Baptist Church Hall
      Eaglemont                                           Uniting Church Hall
      Ivanhoe Central                                   The Hillsley Property
      Rosanna East                                          View Bank College
      View Bank                                      View Bank Primary School
      Hartwell                                        Hartwell Primary School
      Carnegie West                                  St Anthony's Church Hall
      Kings College                                             Kings College
      Lyndoch                                                  Lyndoch Hostel
      Warrnambool Base Hospital                     Warrnambool Base Hospital
WA    Madora                                      Ron Christian Memorial Hall
      Looma                                        Looma District High School
      Mowanjum                                    Mowanjum Community Building
      Noonkanbah                     Kulkarriya Community School (Noonkanbah)
      Wangkatjungka                    Wangkatjungka School (Christmas Creek)
      Gairdner River                            Gairdner River Primary School

                                                        address  \
state polling_place
NSW   Carlton North                                   Taylor St
      Moorefield                                    Marshall St
      St George Hospital                            Belgrave St
      Jenolan Caves                           Number 2 Car Park
      Wallsend Hospital                           Longworth Ave
      Whitegates                                   Iranda Grove
      Yarras                                    Forbes River Rd
      Thredbo                                    Crackenback Dr
      Morven                                        Culcairn Rd
      Summer Hill North                         56 Liverpool Rd
      Allandale Hospital                           Allandale Rd
      Cessnock Hospital                                 View St
      Singleton Military Camp                       Infantry Dr
      Burwood North                                 37 Swan Ave
      Homebush South                                 Francis St
      Strathfield City                           Carrington Ave
      Port Macquarie Civic                          Clarence St
      Port Macquarie Hospital                        Wrights Rd
      Hilltop                                     Cumbertine St
      Collaroy Plateau                               Plateau Rd
      RSL Retirement Village                       Veterans Pde
      RAAF Richmond                            Richmond 386ECSS
      Medowie                                       Ferodale Rd
      Wirreanda Medowie                           Brocklesby Rd
      Kemblawarra                               Shellharbour Rd
      West Dapto                                82 Bong Bong Rd
NT    Bakewell                                    Hutchison Tce
QLD   Rockhampton                               200 Bolsover St
      Planlands                                     Boundary Rd
      Coolum                                     Havana Rd East
...                                                         ...
TAS   Blythe Heads                                     Sice Ave
VIC   Ballarat City                                  Elliott St
      Thornbury Central                      7 Rossmoyne Street
      Thornbury West                         Shaftesbury Parade
      Maidstone                                  1 Lyons Street
      Maidstone East                                   River St
      Moorabbin                                      Nepean Hwy
      Moorabbin West                     Cnr Seafoam/Berend Sts
      Burwood                                   48a Alfred Road
      Wangaratta                                  Docker Street
      Wangaratta Hospital                              Green St
      Botany Park                             53 Lyrebird Drive
      Bowerbird                                 136 Lyrebird Dr
      Mordialloc                                       Beach Rd
      Woodlands                                       Warren Rd
      Eaglemont                          L/Heidelberg & King St
      Ivanhoe Central                              8-10 Noel St
      Rosanna East                                    Warren Rd
      View Bank                                       Nevin Pde
      Hartwell                                     Oberwyl Road
      Carnegie West                     Cnr Grange & Neerim Rds
      Kings College                              44 Balmoral Rd
      Lyndoch                                        Hopkins Rd
      Warrnambool Base Hospital                       Koroit St
WA    Madora                                      Orelia Street
      Looma                                             PMB 904
      Mowanjum                               Mowanjum Community
      Noonkanbah                           Noonkanbah Community
      Wangkatjungka              Wangkatjungka Community School
      Gairdner River                          Gairdner South Rd

                                               suburb  postcode  \
state polling_place
NSW   Carlton North                           KOGARAH    2217.0
      Moorefield                              KOGARAH    2217.0
      St George Hospital                      KOGARAH    2217.0
      Jenolan Caves                     JENOLAN CAVES    2790.0
      Wallsend Hospital                      WALLSEND    2287.0
      Whitegates                             WALLSEND    2287.0
      Yarras                                   YARRAS    2446.0
      Thredbo                         THREDBO VILLAGE    2627.0
      Morven                                   MORVEN    2660.0
      Summer Hill North                   SUMMER HILL    2130.0
      Allandale Hospital                     CESSNOCK    2325.0
      Cessnock Hospital                      CESSNOCK    2325.0
      Singleton Military Camp         SINGLETON MILPO    2331.0
      Burwood North                       STRATHFIELD    2135.0
      Homebush South                 STRATHFIELD WEST    2140.0
      Strathfield City                    STRATHFIELD    2135.0
      Port Macquarie Civic             PORT MACQUARIE    2444.0
      Port Macquarie Hospital          PORT MACQUARIE    2444.0
      Hilltop                                 HILLTOP    2575.0
      Collaroy Plateau               COLLAROY PLATEAU    2098.0
      RSL Retirement Village         COLLAROY PLATEAU    2098.0
      RAAF Richmond                     RAAF RICHMOND    2755.0
      Medowie                                 MEDOWIE    2301.0
      Wirreanda Medowie                       MEDOWIE    2301.0
      Kemblawarra                         KEMBLAWARRA    2505.0
      West Dapto                           WEST DAPTO    2530.0
NT    Bakewell                             PALMERSTON     830.0
QLD   Rockhampton                         ROCKHAMPTON    4700.0
      Planlands                              PLANLAND    4740.0
      Coolum                     PEREGIAN BEACH SOUTH    4573.0
...                                               ...       ...
TAS   Blythe Heads                       BLYTHE HEADS    7321.0
VIC   Ballarat City                          BALLARAT    3350.0
      Thornbury Central                     THORNBURY    3071.0
      Thornbury West                        THORNBURY    3071.0
      Maidstone                             MAIDSTONE    3012.0
      Maidstone East                        MAIDSTONE    3012.0
      Moorabbin                             MOORABBIN    3189.0
      Moorabbin West                        MOORABBIN    3189.0
      Burwood                                 BURWOOD    3125.0
      Wangaratta                           WANGARATTA    3678.0
      Wangaratta Hospital                  WANGARATTA    3677.0
      Botany Park                        CARRUM DOWNS    3201.0
      Bowerbird                          CARRUM DOWNS    3201.0
      Mordialloc                           MORDIALLOC    3195.0
      Woodlands                            MORDIALLOC    3195.0
      Eaglemont                               IVANHOE    3079.0
      Ivanhoe Central                         IVANHOE    3079.0
      Rosanna East                          VIEW BANK    3084.0
      View Bank                             VIEW BANK    3084.0
      Hartwell                                BURWOOD    3125.0
      Carnegie West                        GLENHUNTLY    3163.0
      Kings College                       WARRNAMBOOL    3280.0
      Lyndoch                             WARRNAMBOOL    3280.0
      Warrnambool Base Hospital           WARRNAMBOOL    3280.0
WA    Madora                                   MADORA    6211.0
      Looma                                     DERBY    6728.0
      Mowanjum                                  DERBY    6728.0
      Noonkanbah                     FITZROY CROSSING    6765.0
      Wangkatjungka                  FITZROY CROSSING    6765.0
      Gairdner River                   GAIRDNER RIVER    6337.0

                                wheelchair_access match_source match_type  \
state polling_place
NSW   Carlton North                             A          NaN        NaN
      Moorefield                                N          NaN        NaN
      St George Hospital                        F          NaN        NaN
      Jenolan Caves                             N          NaN        NaN
      Wallsend Hospital                         F          NaN        NaN
      Whitegates                                F          NaN        NaN
      Yarras                                    N          NaN        NaN
      Thredbo                                   A          NaN        NaN
      Morven                                    F          NaN        NaN
      Summer Hill North                         A          NaN        NaN
      Allandale Hospital                        F          NaN        NaN
      Cessnock Hospital                         A          NaN        NaN
      Singleton Military Camp                   N          NaN        NaN
      Burwood North                             N          NaN        NaN
      Homebush South                            N          NaN        NaN
      Strathfield City                          A          NaN        NaN
      Port Macquarie Civic                      A          NaN        NaN
      Port Macquarie Hospital                   F          NaN        NaN
      Hilltop                                   A          NaN        NaN
      Collaroy Plateau                          N          NaN        NaN
      RSL Retirement Village                    A          NaN        NaN
      RAAF Richmond                             N          NaN        NaN
      Medowie                                   A          NaN        NaN
      Wirreanda Medowie                         A          NaN        NaN
      Kemblawarra                               N          NaN        NaN
      West Dapto                                F          NaN        NaN
NT    Bakewell                                  F          NaN        NaN
QLD   Rockhampton                               A          NaN        NaN
      Planlands                                 F          NaN        NaN
      Coolum                                    A          NaN        NaN
...                                           ...          ...        ...
TAS   Blythe Heads                              F          NaN        NaN
VIC   Ballarat City                             A          NaN        NaN
      Thornbury Central                         A          NaN        NaN
      Thornbury West                            N          NaN        NaN
      Maidstone                                 F          NaN        NaN
      Maidstone East                            A          NaN        NaN
      Moorabbin                                 F          NaN        NaN
      Moorabbin West                            N          NaN        NaN
      Burwood                                   A          NaN        NaN
      Wangaratta                                F          NaN        NaN
      Wangaratta Hospital                       F          NaN        NaN
      Botany Park                               F          NaN        NaN
      Bowerbird                                 F          NaN        NaN
      Mordialloc                                A          NaN        NaN
      Woodlands                                 F          NaN        NaN
      Eaglemont                                 F          NaN        NaN
      Ivanhoe Central                           F          NaN        NaN
      Rosanna East                              A          NaN        NaN
      View Bank                                 F          NaN        NaN
      Hartwell                                  N          NaN        NaN
      Carnegie West                             F          NaN        NaN
      Kings College                             A          NaN        NaN
      Lyndoch                                   F          NaN        NaN
      Warrnambool Base Hospital                 F          NaN        NaN
WA    Madora                                    A          NaN        NaN
      Looma                                     N          NaN        NaN
      Mowanjum                                  F          NaN        NaN
      Noonkanbah                                A          NaN        NaN
      Wangkatjungka                             N          NaN        NaN
      Gairdner River                            N          NaN        NaN

                                 latitude  longitude
state polling_place
NSW   Carlton North                   NaN        NaN
      Moorefield                      NaN        NaN
      St George Hospital              NaN        NaN
      Jenolan Caves                   NaN        NaN
      Wallsend Hospital               NaN        NaN
      Whitegates                      NaN        NaN
      Yarras                          NaN        NaN
      Thredbo                         NaN        NaN
      Morven                          NaN        NaN
      Summer Hill North               NaN        NaN
      Allandale Hospital              NaN        NaN
      Cessnock Hospital               NaN        NaN
      Singleton Military Camp         NaN        NaN
      Burwood North                   NaN        NaN
      Homebush South                  NaN        NaN
      Strathfield City                NaN        NaN
      Port Macquarie Civic            NaN        NaN
      Port Macquarie Hospital         NaN        NaN
      Hilltop                         NaN        NaN
      Collaroy Plateau                NaN        NaN
      RSL Retirement Village          NaN        NaN
      RAAF Richmond                   NaN        NaN
      Medowie                         NaN        NaN
      Wirreanda Medowie               NaN        NaN
      Kemblawarra                     NaN        NaN
      West Dapto                      NaN        NaN
NT    Bakewell                        NaN        NaN
QLD   Rockhampton                     NaN        NaN
      Planlands                       NaN        NaN
      Coolum                          NaN        NaN
...                                   ...        ...
TAS   Blythe Heads                    NaN        NaN
VIC   Ballarat City                   NaN        NaN
      Thornbury Central               NaN        NaN
      Thornbury West                  NaN        NaN
      Maidstone                       NaN        NaN
      Maidstone East                  NaN        NaN
      Moorabbin                       NaN        NaN
      Moorabbin West                  NaN        NaN
      Burwood                         NaN        NaN
      Wangaratta                      NaN        NaN
      Wangaratta Hospital             NaN        NaN
      Botany Park                     NaN        NaN
      Bowerbird                       NaN        NaN
      Mordialloc                      NaN        NaN
      Woodlands                       NaN        NaN

### Gooogle geocoder

keys.json contains a google maps api key, so it's not in this notebook.

In [39]:
def get_google_api_key():
    filepath = 'config/keys.json'
    with open(filepath) as data_file:    
        data = json.load(data_file)
        
    key = data['google_maps']
    
    return key

### Google geocode example

In [51]:
def geocode_address(address):
    key = get_google_api_key()

    gmaps = googlemaps.Client(key=key)
    geocode_result = gmaps.geocode(address)
    
    return geocode_result

In [54]:
display(geocode_address('10/44 Lord St Richmond VIC 3121'))

[{'address_components': [{'long_name': '10',
    'short_name': '10',
    'types': ['subpremise']},
   {'long_name': '44', 'short_name': '44', 'types': ['street_number']},
   {'long_name': 'Lord Street', 'short_name': 'Lord St', 'types': ['route']},
   {'long_name': 'Richmond',
    'short_name': 'Richmond',
    'types': ['locality', 'political']},
   {'long_name': 'Yarra City',
    'short_name': 'Yarra',
    'types': ['administrative_area_level_2', 'political']},
   {'long_name': 'Victoria',
    'short_name': 'VIC',
    'types': ['administrative_area_level_1', 'political']},
   {'long_name': 'Australia',
    'short_name': 'AU',
    'types': ['country', 'political']},
   {'long_name': '3121', 'short_name': '3121', 'types': ['postal_code']}],
  'formatted_address': '10/44 Lord St, Richmond VIC 3121, Australia',
  'geometry': {'location': {'lat': -37.8211927, 'lng': 145.0047029},
   'location_type': 'ROOFTOP',
   'viewport': {'northeast': {'lat': -37.8198437197085,
     'lng': 145.0060518802915},
    'southwest': {'lat': -37.8225416802915, 'lng': 145.0033539197085}}},
  'partial_match': True,
  'place_id': 'EisxMC80NCBMb3JkIFN0LCBSaWNobW9uZCBWSUMgMzEyMSwgQXVzdHJhbGlh',
  'types': ['subpremise']}]

In [85]:
unmatched_places = df_pp_1999[df_pp_1999.match_source.isnull()]

# make each row a dict i can deal with

matches = pd.DataFrame()
i = 0
for row in unmatched_places.reset_index().to_dict('records'):

    if i < 3:
        
        address = row['address'] + ' ' + row['suburb'] + ' ' + str(row['postcode'])[:4]

        # geocode address
        geocode = geocode_address(address)
           
        # update the row
        row['match_source'] = 'google geocode'
        row['match_type'] = geocode[0]['geometry']['location_type']
        row['latitude'] = geocode[0]['geometry']['location']['lat']
        row['longitude'] = geocode[0]['geometry']['location']['lng']
        
        row = pd.DataFrame(row, index=[0])
        
        display(row)
        
        if matches.empty:
            matches = row
        else:
            matches.append(row)
    i += 1
# for row in unmatched_places.iterrows():
#     display(row)

# row = next(unmatched_places.iterrows())
# display(row.premises)

matches

,address,latitude,longitude,match_source,match_type,polling_place,postcode,premises,state,suburb,wheelchair_access
0,Taylor St,-33.964008,151.130886,google geocode,GEOMETRIC_CENTER,Carlton North,2217.0,Senior Citizens Centre,NSW,KOGARAH,A

,address,latitude,longitude,match_source,match_type,polling_place,postcode,premises,state,suburb,wheelchair_access
0,Marshall St,-33.969695,151.139287,google geocode,GEOMETRIC_CENTER,Moorefield,2217.0,Moorefield Girls High School,NSW,KOGARAH,N

,address,latitude,longitude,match_source,match_type,polling_place,postcode,premises,state,suburb,wheelchair_access
0,Belgrave St,-33.965135,151.133726,google geocode,GEOMETRIC_CENTER,St George Hospital,2217.0,"St George Hospital, Coffee Shop (Ward Block)",NSW,KOGARAH,F

,address,latitude,longitude,match_source,match_type,polling_place,postcode,premises,state,suburb,wheelchair_access
0,Taylor St,-33.964008,151.130886,google geocode,GEOMETRIC_CENTER,Carlton North,2217.0,Senior Citizens Centre,NSW,KOGARAH,A

### Scratchpad

In [35]:
tmp = df_pp_1999[df_pp_1999.match_type == 'Match 09 - suburb centroid']

counts = tmp.groupby(['suburb']).count()

# counts[counts['premises'] > 1]

tmp[tmp['suburb'] == 'SANDRINGHAM']

,,premises,address,suburb,postcode,wheelchair_access,match_source,match_type,latitude,longitude
state,polling_place,,,,,,,,,
NSW,Clareville Park,Pre-School Kindergarten,95 Clareville Ave,SANDRINGHAM,2219.0,A,ABS Suburb Centroids,Match 09 - suburb centroid,-33.997856,151.140579
VIC,Highett West,Sandringham Secondary College - Highett Campus,Bluff Rd,SANDRINGHAM,3191.0,F,ABS Suburb Centroids,Match 09 - suburb centroid,-37.953601,145.014599

In [ ]:
subtown_centroids[subtown_centroids['suburb'] == 'KOGARAH']

### Export to CSV

In [ ]:
df_pp_1999.to_csv(
    '1999_referenda_output/polling_places_geocoded.csv',
    sep = ','
)