# Notebook for analytics on the result of the republic referendum

### Libraries

In [13]:
import pandas as pd
import numpy as np
from IPython.display import display, HTML

In [14]:
filepath = '1999_referenda_output/republic_referendum_by_polling_place.csv'
df_results = pd.read_csv(
    filepath
)

display(df_results.head(3))

  state  polling_place  yes_n  no_n  formal_n  informal_n  total_n
0   ACT  Ainslie North   1608   749      2357          29     2386
1   ACT         Aranda   2200   787      2987          21     3008
2   ACT  Baker Gardens    398   230       628           5      633

In [15]:
filepath = '1999_referenda_output/polling_places_geocoded.csv'
df_pp = pd.read_csv(
    filepath
)

display(df_pp.head(3))

,state,polling_place,premises,address,suburb,postcode,wheelchair_access,match_source,match_type,latitude,longitude
0,ACT,Bonython,Bonython Primary School,Hurtle Ave,BONYTHON,2905.0,F,2007 Polling Places,"Match 01 - state, premises, postcode",-35.4318,149.083
1,ACT,Calwell,Calwell High School,Casey Cres,CALWELL,2905.0,F,2007 Polling Places,"Match 01 - state, premises, postcode",-35.4406,149.116
2,ACT,Canberra Hospital,The Canberra Hospital,Blding 2 Level 3 Yamba Dr,GARRAN,2605.0,F,2007 Polling Places,"Match 01 - state, premises, postcode",-35.3453,149.100